<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Accesorios para Moto Meyer</title>
</head>
<body>

  <!-- Header with Logo and Title -->
  <div class="header">
    <img src="assets/Logo_Meyer.jpg" alt="Logo de Accesorios para Moto Meyer">
    <h1>Accesorios para Moto Meyer</h1>
  </div>
<br><br><br>


<!-- Contenedor del modal -->
<div id="imageModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <img id="modalImage" src="" alt="Imagen ampliada">
  </div>
</div>



  <!-- Product Container -->
  <div class="product-container">
    <!-- Product 1 -->
    <div class="card" data-name="Mascara de Protetor solar" data-price="$70">
      <img src="assets/Mascara de Protetor solar.PNG" alt="Imagen del producto">
      <h2>Mascara de Protetor solar</h2>
      <h2>$70</h2>
      <p>Máscara de seda de hielo con protección solar transpirable.</p>
      <a href="https://wa.me/7713535455/?text=Hola.%20Me%20interesa%20conocer%20más%20acerca%20de%20este%20producto:%20Mascara%20de%20Protetor%20solar%20-%20$70" class="btn-contact">Contactar por WhatsApp</a>
    </div>

    <!-- Product 2 -->
    <div class="card" data-name="Faro eléctrico" data-price="$100">
      <img src="assets/Faro eléctrico.PNG" alt="Imagen del producto">
      <h2>Faro eléctrico</h2>
      <h2>$100</h2>
      <p>Faro eléctrico para exteriores para motocicleta 2 piezas y botón de encendido o apagado</p>
      <a href="https://wa.me/7713535455/?text=Hola.%20Me%20interesa%20conocer%20más%20acerca%20de%20este%20producto:%20Faro%20eléctrico%20-%20$100" class="btn-contact">Contactar por WhatsApp</a>
    </div>

    <!-- Product 3 -->
    <div class="card" data-name="Mangas De Protección UV para el sol azules" data-price="$50">
      <img src="assets/Mangas De Protección UV para el sol azules.PNG" alt="Imagen del producto">
      <h2>Mangas De Protección UV para el sol azules</h2>
      <h2>$50</h2>
      <p>Mangas De Protección UV para el sol azules</p>
      <a href="https://wa.me/7713535455/?text=Hola.%20Me%20interesa%20conocer%20más%20acerca%20de%20este%20producto:%20Mangas%20De%20Protección%20UV%20para%20el%20sol%20azules%20-%20$50" class="btn-contact">Contactar por WhatsApp</a>
    </div>

    <!-- Product 4 -->
    <div class="card" data-name="Llave Hexagonal plegable 8 en 1" data-price="$100">
      <img src="assets/Llave Hexagonal plegable 8 en 1.PNG" alt="Imagen del producto">
      <h2>Llave Hexagonal plegable 8 en 1</h2>
      <h2>$100</h2>
      <p>Llave Hexagonal plegable 8 en 1, herramienta de mano portátil, multifuncional, Material de CR-V</p>
      <a href="https://wa.me/7713535455/?text=Hola.%20Me%20interesa%20conocer%20más%20acerca%20de%20este%20producto:%20Llave%20Hexagonal%20plegable%208%20en%201%20-%20$100" class="btn-contact">Contactar por WhatsApp</a>
    </div>

    <!-- Product 5 -->
    <div class="card" data-name="Bombillas LED para faro delantero de motocicleta" data-price="$100">
      <img src="assets/Bombillas LED para faro delantero de motocicleta.PNG" alt="Imagen del producto">
      <h2>Bombillas LED para faro delantero de motocicleta</h2>
      <h2>$100</h2>
      <p>Bombillas LED para faro delantero de motocicleta, luces antiniebla de 12V, H4</p>
      <a href="https://wa.me/7713535455/?text=Hola.%20Me%20interesa%20conocer%20más%20acerca%20de%20este%20producto:%20Bombillas%20LED%20para%20faro%20delantero%20de%20motocicleta%20-%20$100" class="btn-contact">Contactar por WhatsApp</a>
    </div>

    <!-- Product 6 -->
    <div class="card" data-name="3 piezas de collares" data-price="$100">
      <img src="assets/3 piezas de collares.PNG" alt="Imagen del producto">
      <h2>3 piezas de collares</h2>
      <h2>$100</h2>
      <p>Collar de cadena gruesa de perlas, Gargantilla colgante de alas, joyería Grunge Steampunk</p>
      <a href="https://wa.me/7713535455/?text=Hola.%20Me%20interesa%20conocer%20más%20acerca%20de%20este%20producto:%203%20piezas%20de%20collares%20-%20$100" class="btn-contact">Contactar por WhatsApp</a>
    </div>

    <!-- Product 7 -->
    <div class="card" data-name="Mini consola portátil" data-price="$120">
      <img src="assets/Mini consola portátil.PNG" alt="Imagen del producto">
      <h2>Mini consola portátil</h2>
      <h2>$120</h2>
      <p>Mini consola portátil retro de videojuegos portátil de 8 bits de color LCD de 3,0 pulgadas, juegos de 500 integrados</p>
      <a href="https://wa.me/7713535455/?text=Hola.%20Me%20interesa%20conocer%20más%20acerca%20de%20este%20producto:%20Mini%20consola%20portátil%20-%20$120" class="btn-contact">Contactar por WhatsApp</a>
    </div>

    <!-- Product 8 -->
    <div class="card" data-name="Cepillo para Cadena" data-price="$70">
      <img src="assets/Cepillo para Cadena.PNG" alt="Imagen del producto">
      <h2>Cepillo para Cadena</h2>
      <h2>$70</h2>
      <p>Limpiador de cadena portátil para motocicleta, cepillo de limpieza de cadena</p>
      <a href="https://wa.me/7713535455/?text=Hola.%20Me%20interesa%20conocer%20más%20acerca%20de%20este%20producto:%20Cepillo%20para%20Cadena%20-%20$70" class="btn-contact">Contactar por WhatsApp</a>
    </div>

    <!-- Product 9 -->
    <div class="card" data-name="Tiras de pegatinas reflectantes" data-price="$70">
      <img src="assets/Tiras de pegatinas reflectantes.PNG" alt="Imagen del producto">
      <h2>Tiras de pegatinas reflectantes</h2>
      <h2>$70</h2>
      <p>Tiras de pegatinas reflectantes para llanta de motocicleta, calcomanías exteriores para rueda de coche, 16 piezas, 17</p>
      <a href="https://wa.me/7713535455/?text=Hola.%20Me%20interesa%20conocer%20más%20acerca%20de%20este%20producto:%20Tiras%20de%20pegatinas%20reflectantes%20-%20$70" class="btn-contact">Contactar por WhatsApp</a>
    </div>

    <!-- Product 10 -->
    <div class="card" data-name="Red de equipaje para motocicleta" data-price="$100">
      <img src="assets/Red de equipaje para motocicleta.PNG" alt="Imagen del producto">
      <h2>Red de equipaje para motocicleta</h2>
      <h2>$100</h2>
      <p>Red de equipaje para motocicleta, 6 ganchos para sujetar el tanque de combustible, malla de equipaje, red elástica negra</p>
      <a href="https://wa.me/7713535455/?text=Hola.%20Me%20interesa%20conocer%20más%20acerca%20de%20este%20producto:%20Red%20de%20equipaje%20para%20motocicleta%20-%20$100" class="btn-contact">Contactar por WhatsApp</a>
    </div>

<!-- Product 11 -->
<div class="card" data-name="Máscaras faciales resistentes a los rayos UV" data-price="$50">
  <img src="assets/máscaras faciales resistentes a los rayos UV.PNG" alt="Imagen del producto">
  <h2>Máscaras faciales resistentes a los rayos UV</h2>
  <h2>$50</h2>
  <p>Máscaras faciales resistentes a los rayos UV</p>
  <a href="https://wa.me/7713535455/?text=Hola.%20Me%20interesa%20conocer%20más%20acerca%20de%20este%20producto:%20Máscaras%20faciales%20resistentes%20a%20los%20rayos%20UV%20-%20$50" class="btn-contact">Contactar por WhatsApp</a>
</div>

<!-- Product 12 -->
<div class="card" data-name="Monitor inteligente A9 HD Wifi" data-price="$120">
  <img src="assets/Monitor inteligente A9 HD Wifi.PNG" alt="Imagen del producto">
  <h2>Monitor inteligente A9 HD Wifi</h2>
  <h2>$120</h2>
  <p>Monitor inteligente A9 HD Wifi, cámaras de vigilancia, Sensor, videocámara Web, vídeo, seguridad del hogar, inalámbrico</p>
  <a href="https://wa.me/7713535455/?text=Hola.%20Me%20interesa%20conocer%20más%20acerca%20de%20este%20producto:%20Monitor%20inteligente%20A9%20HD%20Wifi%20-%20$120" class="btn-contact">Contactar por WhatsApp</a>
</div>

<!-- Product 13 -->
<div class="card" data-name="Reloj de pulsera de cuarzo con calendario" data-price="$150">
  <img src="assets/Reloj de pulsera de cuarzo con calendario.PNG" alt="Imagen del producto">
  <h2>Reloj de pulsera de cuarzo con calendario</h2>
  <h2>$150</h2>
  <p>Conjunto de 5 piezas para Hombre, Reloj de pulsera de cuarzo con calendario, estilo Hip Hop, informal, de cuero</p>
  <a href="https://wa.me/7713535455/?text=Hola.%20Me%20interesa%20conocer%20más%20acerca%20de%20este%20producto:%20Reloj%20de%20pulsera%20de%20cuarzo%20con%20calendario%20-%20$150" class="btn-contact">Contactar por WhatsApp</a>
</div>

<!-- Product 14 -->
<div class="card" data-name="Reloj de cuarzo con correa de lona" data-price="$150">
  <img src="assets/Reloj de cuarzo con correa de lona.PNG" alt="Imagen del producto">
  <h2>Reloj de cuarzo con correa de lona</h2>
  <h2>$150</h2>
  <p>Reloj de cuarzo con correa de lona y tres ojos falsos para negocios, pulsera de cuero de lujo con puntero, calendario Digital romano, 4 piezas, nuevo</p>
  <a href="https://wa.me/7713535455/?text=Hola.%20Me%20interesa%20conocer%20más%20acerca%20de%20este%20producto:%20Reloj%20de%20cuarzo%20con%20correa%20de%20lona%20-%20$150" class="btn-contact">Contactar por WhatsApp</a>
</div>

<!-- Product 15 -->
<div class="card" data-name="Reloj de cuarzo con correa de nailon" data-price="$150">
  <img src="assets/Reloj de cuarzo con correa de nailon.PNG" alt="Imagen del producto">
  <h2>Reloj de cuarzo con correa de nailon</h2>
  <h2>$150</h2>
  <p>Reloj de cuarzo con correa de nailon para hombre, pulsera con calendario y cuentas, estilo informal, Ideal para regalo, 4 unidades por Set</p>
  <a href="https://wa.me/7713535455/?text=Hola.%20Me%20interesa%20conocer%20más%20acerca%20de%20este%20producto:%20Reloj%20de%20cuarzo%20con%20correa%20de%20nailon%20-%20$150" class="btn-contact">Contactar por WhatsApp</a>
</div>

<!-- Product 16 -->
<div class="card" data-name="Reloj de negocios informal" data-price="$150">
  <img src="assets/reloj de negocios informal.PNG" alt="Imagen del producto">
  <h2>Reloj de negocios informal</h2>
  <h2>$150</h2>
  <p>4 unidades, reloj de hombre, reloj de negocios informal de moda, juego de reloj de pulsera simple</p>
  <a href="https://wa.me/7713535455/?text=Hola.%20Me%20interesa%20conocer%20más%20acerca%20de%20este%20producto:%20Reloj%20de%20negocios%20informal%20-%20$150" class="btn-contact">Contactar por WhatsApp</a>
</div>

<!-- Product 17 -->
<div class="card" data-name="Reloj de pulsera de cuarzo par" data-price="$150">
  <img src="assets/Reloj de pulsera de cuarzo par.PNG" alt="Imagen del producto">
  <h2>Reloj de pulsera de cuarzo par</h2>
  <h2>$150</h2>
  <p>Reloj de pulsera de cuarzo para mujer y hombre, cronógrafo de acero inoxidable, informal, negocios par</p>
  <a href="https://wa.me/7713535455/?text=Hola.%20Me%20interesa%20conocer%20más%20acerca%20de%20este%20producto:%20Reloj%20de%20pulsera%20de%20cuarzo%20par%20-%20$150" class="btn-contact">Contactar por WhatsApp</a>
</div>
      
<!-- Product 17 -->


  </div>

  <script>
    // Para actualizar los enlaces de WhatsApp con el nombre y el precio del producto
    const cards = document.querySelectorAll('.card');
    cards.forEach(card => {
      const name = card.getAttribute('data-name');
      const price = card.getAttribute('data-price');
      const whatsappLink = card.querySelector('.btn-contact');
      const baseUrl = "https://wa.me/7713535455/?text=Hola.%20Me%20interesa%20conocer%20más%20acerca%20de%20este%20producto:";

      // Construimos el mensaje de WhatsApp dinámicamente
      whatsappLink.href = `${baseUrl}%20${encodeURIComponent(name)}%20-%20${encodeURIComponent(price)}`;
    });

// Obtener el modal y los elementos necesarios
const modal = document.getElementById("imageModal");
const modalImage = document.getElementById("modalImage");
const closeModal = document.getElementsByClassName("close")[0];

// Agregar evento de clic en las imágenes de los productos para abrir el modal
const productImages = document.querySelectorAll('.card img');

productImages.forEach(img => {
  img.addEventListener('click', function() {
    modal.style.display = "flex"; // Mostrar el modal
    modalImage.src = img.src; // Cambiar la imagen del modal a la imagen seleccionada
  });
});

// Evento para cerrar el modal al hacer clic en la "X"
closeModal.addEventListener('click', function() {
  modal.style.display = "none"; // Cerrar el modal
});

// Cerrar el modal si el usuario hace clic fuera de la imagen
window.addEventListener('click', function(event) {
  if (event.target === modal) {
    modal.style.display = "none"; // Cerrar el modal si se hace clic fuera de la imagen
  }
});



  </script>

</body>
</html>
