/* Reemplaza tu bloque de body y html por este */
html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Esto oculta lo que se salga por los lados */
  position: relative;
    background-color: black;

}

/* Muy importante para Angular */
app-root {
  display: block;
  width: 100%;
  overflow-x: hidden;
}
