
<h1 class="zona-title">
  📍 Entregas en Zona Centro, Mercado o Plazuela Juárez solo en Huejutla
</h1>

<div class="product-container">
 <div class="card" *ngFor="let item of datos">
 <img (click)="openModal(item)" [src]="item.Imagen" alt="Imagen del producto">
 
 <div>
 <h2>{{ item.Nombre }}</h2>
<p><strong>Precio:</strong> ${{ item.Precio_publico }}</p>
 </div>
 
 <a class="btn-contact" 
[href]="'https://wa.me/7713535455?text=' + '%0A' + 
   'Hola, estoy interesado en el producto:' + '%0A' + 
   item.Nombre + '%0A' + 
   'Precio: $' + item.Precio_publico"

 target="_blank">Comprar por WhatsApp</a>
 </div>
</div>
<!-- Modal -->
<!-- Modal -->
<div class="modal" *ngIf="showModal" style="text-align: center;">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>

    <img [src]="selectedProduct?.Imagen" alt="Imagen del producto">
    <h2>{{ selectedProduct?.Nombre }}</h2>
    <p>{{ selectedProduct?.Descripcion }}</p>
    <p><strong>Precio:</strong> ${{ selectedProduct?.Precio_publico }}</p>

    <!-- BOTÓN WHATSAPP EN EL MODAL -->
    <a
      class="btn-contact"
      *ngIf="selectedProduct"
      [href]="'https://wa.me/7713535455?text=' + encodeURIComponent(
        'Hola, estoy interesado en el producto: ' +
        selectedProduct.Nombre + ' - ' +
        selectedProduct.Precio_publico + ' - Precio: ' 
      )"
      target="_blank">
      Comprar por WhatsApp
    </a>

  </div>
</div>

